.div{
    border: 2px solid black;
    width: max-content;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.dark{
    background-color: black;
    border: 2px solid white;
    color: white;
}
.dark-body{
    background-color: black;
}
.loght-body{
    background-color: white;
}